*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.main__layout{
    display: flex;
    margin-bottom: 20px;
}

header{
    height: 20px;
    padding: 30px;
    color: azure;
    background-color: blueviolet;
    font-size: 30px;
}

.search_episodes_using_number{
    margin-top: 30px;
    font-weight: bold;
}


.search_episodes > input{
    border-radius: 50px;
    height: 50px;
    width: 270px;
    padding: 15px;
    border : 1px solid grey;
}

.search_episodes > input:focus{
    outline-width: 0;
}

.search_episodes{
    flex: 0.5;
}

.results{
    flex: 0.5;
    margin-top: 40px;
}

.search_button{
    border-radius: 50px;
    height: 40px;
    width: 120px;
    border : 1px solid grey;
    background-color: indianred;
    color: lavenderblush;
    font-size: 16px;
}

.search_button:focus{
    outline-width: 0;
}

.summary{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}